<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
/>
<body>
  <app-navbar></app-navbar>
  <button class="BtnVoltar" routerLink="/InicialUsu" role="button">
    <i class="fa-solid fa-arrow-left fa-lg"></i>
  </button>
  <div class="BodyPerfil">
    <div class="PerfilPhotoDiv">
      <img
        class="PerfilImg"
        src="https://static.vecteezy.com/system/resources/previews/007/224/792/original/robot-modern-style-vector.jpg"
        alt=""
        *ngIf="ImagemPadrao"
      />
      <img class="PerfilImg" *ngIf="ImagemEditada" [src]="imageName" alt="" />
      <label class="labelchange" for="upload-photo"
        ><div class="labeldiv">
          <i class="fa-solid fa-pen" style="color: #ffffff"></i></div
      ></label>
      <input
        type="file"
        id="upload-photo"
        name="myFile"
        (change)="onFileChanged($event)"
        accept="image/png, image/jpeg"
      />
      <button
        type="submit"
        class="BtnEditar"
        (click)="submitImagem()"
        *ngIf="ButtonEnviar"
      >
        Enviar Imagem
      </button>
      <div class="NomePerfil">
        <p>{{ perfil.nome }}</p>
      </div>
      <div class="EmailPerfil">
        <p>{{ perfil.email }}</p>
      </div>
      <div class="AlignButton">
        <button class="BtnSair" (click)="open(modalDeslogar)" role="button">
          Sair da Sessão
        </button>
      </div>
    </div>
    <div class="PerfilForm">
      <div class="FormSide">
        <form class="form" [formGroup]="form">
          <label class="Nometxt" for="Nome">Nome:</label><br />
          <input
            class="Nome"
            type="text"
            name="Nome"
            placeholder="Insira seu nome de Usuário"
            value="{{ perfil.nome }}"
            formControlName="nome"
          /><br />
          <label class="CPFtxt" for="CPF">CPF:</label><br />
          <input
            class="CPF"
            mask="000.000.000-00"
            type="text"
            name="CPF"
            placeholder="000.000.000-00."
            value="{{ perfil.cpf }}"
            formControlName="cpf"
          /><br />
          <label class="Emailtxt" for="Email">Email:</label><br />
          <input
            class="Email"
            type="text"
            name="Email"
            placeholder="Example@Email.com"
            value="{{ perfil.email }}"
            formControlName="email"
          /><br />
          <label class="Senhatxt" for="Senha">Senha:</label><br />
          <button class="BtnSenha" (click)="open(modalAlterarSenha)">
            Alterar Senha
          </button>
          <input
            class="BtnForm"
            [routerLink]="['/Perfil']"
            type="submit"
            value="Atualizar Informações"
            (click)="open(modalconfirmarEditar)"
          />
        </form>
      </div>
    </div>
  </div>
  <button class="BtnExcluir" (click)="open(modalconfirmarDelete)" role="button">
    Excluir Conta
  </button>
</body>

<!--Modal-->
<ng-template #modalconfirmarDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Deletar Perfil</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Voce tem certeza que deseja deletar
        <!--<span class="text-primary">"John Doe"</span>-->
        seu perfil?</strong
      >
    </p>
    <p>
      Todas as informações associadas a este perfil de usuário serão excluídas
      permanentemente.
      <span class="text-danger">Esta operação não pode ser desfeita.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close(deletarConta())"
    >
      Deletar
    </button>
  </div>
</ng-template>

<ng-template #modalconfirmarEditar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Editar Perfil</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Voce tem certeza que deseja editar
        <!--<span class="text-primary">"John Doe"</span>-->
        seu perfil?</strong
      >
    </p>
    <p>
      Todas as informações alteradas no formulario serão associadas a este
      perfil de usuário.
      <span class="text-warning">Esta operação não pode ser desfeita.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="modal.close(onSubmit())"
    >
      Editar
    </button>
  </div>
</ng-template>

<ng-template #modalDeslogar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Deslogar da Aplicação</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Voce tem certeza que deseja deslogar da aplicação<!--<span class="text-primary">"John Doe"</span>-->?</strong
      >
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close(sairConta())"
    >
      Sair
    </button>
  </div>
</ng-template>

<ng-template #modalAlterarSenha let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Alterar Senha</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Caso deseje alterar a senha basta somente escrever a nova senha nos
        dois campos a baixo
        <span class="text-primary"
          >"Caso o contrário clique no botão Cancelar"</span
        ></strong
      >
    </p>
    <form class="form" [formGroup]="form">
      <label class="Senhatxt" for="Senha">Senha:</label><br />
      <input
        class="Senha"
        type="password"
        name="Senha"
        placeholder="Insira sua Senha"
        formControlName="senha"
      />
      <input
        class="Senha"
        type="password"
        name="Senha"
        placeholder="Repita sua Senha"
      /><br /><br />
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close(onSubmit())"
    >
      Alterar
    </button>
  </div>
</ng-template>
