<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<app-nav-vet></app-nav-vet>
<button class="BtnVoltar" routerLink="/InicialVet" role="button"><i class="fa-solid fa-arrow-left fa-lg"></i></button>
<div class="titulolog">Consultas Pendentes:</div>
<div class="formLogin2">
  <div class="form">
    <div class="Cartões">
      <mat-card class="example-card" *ngFor="let consulta of  consultasPendentes">
        <mat-card-content>
          <p>Tutor: {{ consulta.pet.cliente.nome }}</p>
          <p>Horario: {{ consulta.hora }}</p>
          <p>Turno: {{ consulta.veterinario.turno }}</p>
          <p>Pet: {{ consulta.pet.nome }}</p>
          <p>Status: {{ consulta.statusConsulta }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="detalhesConsulta(consulta)">
            Ver Consulta
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="titulolog">Consultas Concluidas:</div>
<div class="formLogin2">
  <div class="form">
    <div class="Cartões">
      <mat-card class="example-card" *ngFor="let consulta of consultasConcluidas">
        <mat-card-content>
          <p>Tutor: {{ consulta.pet.cliente.nome }}</p>
          <p>Horario: {{ consulta.hora }}</p>
          <p>Turno: {{ consulta.veterinario.turno }}</p>
          <p>Pet: {{ consulta.pet.nome }}</p>
          <p>Status: {{ consulta.statusConsulta }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="detalhesConsulta(consulta)">
            Ver Consulta
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
