<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <ul>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="http://localhost:4200/">Voltar</a>
      </li>
    </div>
  </ul>
  <div class="TypeLogin">Veterinário</div>
</header>
<div class="Screen">
  <div class="centered">
    <div class="titulolog">Olá ! Bem-vindo de Volta</div>
    <div class="subtitulolog">
      CUIDAR DO SEU PET COM O MAIOR CARINHO <br />
      É A NOSSA PRIORIDADE.
    </div>
    <div class="formLogin">
      <form class="form" [formGroup]="form">
        <label class="Emailtxt" for="Email">Email Empresarial:</label><br />
        <input
          class="Email"
          type="email"
          id="fname"
          name="Email"
          placeholder="Example@Email.com"
          formControlName="email"
        /><br />
        <label class="Senhatxt" for="Senha">Senha:</label><br />
        <input
          class="Senha"
          type="password"
          id="lname"
          name="Senha"
          placeholder="Insira sua Senha"
          formControlName="senha"
        /><br /><br />
        <button
          class="fazerlogin"
          type="submit"
          (click)="onSubmit()"
          value="Realizar Cadastro"
        >
          Fazer Login
        </button>
      </form>
      <div class="EsqSenha">Esqueci minha senha</div>
    </div>
  </div>
</div>
