<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <ul>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="/InicialUsu">Voltar</a>
      </li>
    </div>
  </ul>
</header>
<div class="Screen">
  <div class="centered">
    <div class="titulolog">Agendar Consulta</div>
    <div class="formLogin">
      <div class="form">
        <!-- <div>
          <img class="PerfilImg" [src]="imageName" alt="PhotoPerfil" />
          <div>Nome</div>
        </div> -->
        <div class="SelectPETtxt">Selecionar Pet</div>
        <div>
          <select name="SelectPET" id="Esp-select" class="SelectPET">
            <option *ngFor="let pet of pets" [value]="pet._id">
              {{ pet.nome }}
            </option>
          </select>
        </div>
        <div class="Especialidadetxt">Selecionar Especialidade</div>
        <select
          name="Especialidade"
          id="Esp-select"
          [(ngModel)]="especialidade"
          (ngModelChange)="buscarVeterinario()"
          class="Especialidade"
        >
          <option value=""></option>
          <option value="Quiropraxia">Quiropraxia</option>
          <option value="Clinico Geral">Clinico Geral</option>
          <option value="Cirurgia">Cirurgia</option>
          <option value="Acupuntura">Acupuntura</option>
          <option value="Medicina Felina">Medicina Felina</option>
          <option value="Animais Exóticos">Animais Exóticos</option>
          <option value="Medicina Canina">Medicina Canina</option>
          <option value="Cardiologia">Cardiologia</option>
          <option value="Oncologia">Oncologia</option>
        </select>
      </div>
    </div>
    <div class="formLogin2">
      <div class="form">
        <div class="titulodiv">Veterinarios Disponiveis</div>
        <div class="Cartões">
          <mat-card class="example-card" *ngFor="let vet of vets">
            <!-- <img
              class="img"
              mat-card-image
              src="https://i.pinimg.com/736x/1f/aa/13/1faa13aff5e9110883ed8b97a3302e17.jpg"
              alt="Photo of a Shiba Inu"
            /> -->
            <mat-card-content>
              <p>{{ vet.nome }}</p>
              <p>Especialidade: {{ vet.especialidade }}</p>
              <p>Turno: {{ vet.turno }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="formLogin">
    <div class="form">
      <div class="titulodiv2">Horarios Disponiveis</div>
      <button type="submit" class="BtnHour">10:00</button>
      <button type="submit" class="BtnHour">10:30</button>
      <button type="submit" class="BtnHour">11:00</button>
      <button type="submit" class="BtnHour">11:30</button>
      <button type="submit" class="BtnHour">12:00</button>
      <button type="submit" class="BtnHour">12:30</button>
      <button type="submit" class="BtnHour">13:00</button>
      <button type="submit" class="BtnHour">13:30</button>
      <button type="submit" class="BtnHour">14:00</button>
    </div>
  </div>
</div>
