<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <ul>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="/InicialUsu">Voltar</a>
      </li>
    </div>
  </ul>
</header>
<div class="Screen">
  <div class="centered">
    <div class="titulolog">Agendar Consulta</div>
    <div class="formLogin">
      <div class="form">
        <div>
        <img
        class="PerfilImg"
        src="../../../assets/Images/Dogprofile.png"
        alt="PhotoPerfil"
      />
      <div>
        Nome 
      </div>
    </div>
    <div class = "SelectPETtxt">
      Selecionar Pet
    </div>
       <div>
        <select
          name="SelectPET"
          id="Esp-select"
          class="SelectPET"
          formControlName="SelectPET"
        >
          <option value=""></option>
          <option value="Dog">Dog</option>
          <option value="Dog">Dog2</option>
        </select>
       </div>
      <div class="Especialidadetxt">
        Selecionar Especialidade
      </div>
      <select
          name="Especialidade"
          id="Esp-select"
          class="Especialidade"
          formControlName="sexo"
        >
          <option value=""></option>
          <option value="Geral">Clinico Geral</option>
          <option value="Cirurgia">Cirurgia</option>
          <option value="Acupuntura">Acupuntura</option>
          <option value="Felina">Medicina Felina</option>
          <option value="Exoticos">Animais Exóticos</option>
          <option value="Canina">Medicina Canina</option>
          <option value="Cardiologia">Cardiologia</option>
          <option value="Oncologia">Oncologia</option>
        </select>
      </div>
      <div>
        <button type="submit" class="BtnSubmit" >Confirmar</button>
      </div>
    </div>
    <div class="formLogin2">
        <div class="form">
          <div class="titulodiv">Veterinarios Disponiveis</div>
        <div class="Cartões">
          <mat-card class="example-card">
            <img
            class="img"
              mat-card-image
              src="https://i.pinimg.com/736x/1f/aa/13/1faa13aff5e9110883ed8b97a3302e17.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>Dra:Catarina Paolino</p>
              <p>Especialidade: Dermatologia</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <img
            class="img"
              mat-card-image
              src="https://www.tenhomaisdiscosqueamigos.com/wp-content/uploads/2020/06/the-rock-critica-donald-trump.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>Dr:Dwayne Johson</p>
              <p>Especialidade: Animais Selvagens</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <img
            class="img"
              mat-card-image
              src="https://pbs.twimg.com/media/DJxv45WXoAE8Dp3.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>Dr:Neymar Jr</p>
              <p>Especialidade: Clinico Geral</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <img
            class="img"
              mat-card-image
              src="https://disgustingmen.com/wp-content/uploads/2022/04/FRSgZLIXIAE0NLs-1.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>Dra:Lean Beef Patty</p>
              <p> Especialidade: Anestesiologia</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <img
            class="img"
              mat-card-image
              src="https://i0.wp.com/selectgame.gamehall.com.br/wp-content/uploads/2018/01/Sasuke-Cosplay-Female-Mulher-Por-Irine-Meier-Foto-01.jpg?resize=1033%2C1292&ssl=1"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>Dr:Sasuke Uchiha</p>
              <p>Especialidade: Apicuntura</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <img
            class="img"
              mat-card-image
              src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/01/06/1776339291-monark.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>Dr:Bruno Monark</p>
              <p>Especialidade: Tratamentos a base de plantas</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Escolher Veterinario(a)</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="formLogin">
    <div class="form">
      <div class="titulodiv2">Horarios Disponiveis</div>
      <button type="submit" class="BtnHour" >10:00</button>
      <button type="submit" class="BtnHour" >10:30</button>
      <button type="submit" class="BtnHour" >11:00</button>
      <button type="submit" class="BtnHour" >11:30</button>
      <button type="submit" class="BtnHour" >12:00</button>
      <button type="submit" class="BtnHour" >12:30</button>
      <button type="submit" class="BtnHour" >13:00</button>
      <button type="submit" class="BtnHour" >13:30</button>
      <button type="submit" class="BtnHour" >14:00</button>
  </div>
</div>
