<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <ul>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="/InicialUsu">Voltar</a>
      </li>
    </div>
  </ul>
</header>
<div class="Screen">
  <form action="">
    <h1 class="titulolog">Agendar Consulta</h1>
    <div class="centered">
      <div class="formLogin">
        <div class="form">
          <div>
            <img
              class="PerfilImg"
              src="https://i.imgur.com/pe2N5IX.png"
              alt="Imagem do PET"
              *ngIf="ImagemPadrao || perfilImg === ''"
            />
            <img
              class="PerfilImg"
              [src]="perfilImg"
              alt="Imagem do PET"
              *ngIf="ImagemEditada && perfilImg !== ''"
            />
          </div>
          <label class="SelectPETtxt" for="SelectPET">Selecionar Pet</label>
          <select
            name="SelectPET"
            id="Esp-select"
            class="SelectPET"
            [(ngModel)]="petId"
            (change)="updatePetImage()"
          >
            <option></option>
            <option *ngFor="let pet of pets" [value]="pet._id">
              {{ pet.nome }}
            </option>
          </select>
        </div>
      </div>
      <h3 class="titulolog">Especialidade da Consulta</h3>
      <div class="formLogin">
        <label class="Especialidadetxt" for="Especialidade"
          >Selecionar Especialidade</label
        >
        <select
          name="Especialidade"
          id="Esp-select"
          [(ngModel)]="especialidade"
          (ngModelChange)="buscarVeterinario()"
          class="Especialidade"
        >
          <option value=""></option>
          <option value="Quiropraxia">Quiropraxia</option>
          <option value="Clinico Geral">Clinico Geral</option>
          <option value="Cirurgia">Cirurgia</option>
          <option value="Acupuntura">Acupuntura</option>
          <option value="Medicina Felina">Medicina Felina</option>
          <option value="Animais Exóticos">Animais Exóticos</option>
          <option value="Medicina Canina">Medicina Canina</option>
          <option value="Cardiologia">Cardiologia</option>
          <option value="Oncologia">Oncologia</option>
        </select>
        <div>
          <button class="BtnSubmit" (click)="EspecialidadeSelecionada()">
            Selecionar
          </button>
        </div>
      </div>
      <h3 class="titulolog" *ngIf="Especialidade">Veterinarios Disponiveis</h3>
      <div class="formLogin2" *ngIf="Especialidade">
        <div class="form">
          <div class="Cartões">
            <mat-card class="example-card" *ngFor="let vet of vets">
              <!-- <img
                class="img"
                mat-card-image
                src="https://i.pinimg.com/736x/1f/aa/13/1faa13aff5e9110883ed8b97a3302e17.jpg"
                alt="Photo of a Shiba Inu"
              /> -->
              <mat-card-content>
                <p>{{ vet.nome }}</p>
                <p>Especialidade: {{ vet.especialidade }}</p>
                <p>Turno: {{ vet.turno }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="pegarVet(vet.email)">
                  Selecionar
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="formLogin" *ngIf="Especialidade">
      <div class="form">
        <h3 class="titulodiv2">Horarios Disponiveis</h3>
        <select
          name="Especialidade"
          id="Esp-select"
          [(ngModel)]="horario"
          class="Especialidade"
        >
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="13:00">13:00</option>
          <option value="13:30">13:30</option>
          <option value="14:00">14:00</option>
        </select>
      </div>
    </div>
    <button type="submit" class="BtnHour" (click)="agendar()">
      Fazer Agendamento
    </button>
  </form>
</div>
