<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
/>
<app-nav-vet></app-nav-vet>
<button class="BtnVoltar" routerLink="/VetConsultas" role="button"><i class="fa-solid fa-arrow-left fa-lg"></i></button>
<div class="BodyPerfil">
  <div class="PerfilPhotoDiv">
    <img class="PerfilImg" src="https://i.imgur.com/pe2N5IX.png" alt="" />
    <div class="NomePerfil">
      <p>Veterinario: {{ consulta.veterinarioNome }}</p>
    </div>
    <div class="EmailPerfil">
      <p>Especialidade: {{ consulta.veterinarioEspecialidade }}</p>
    </div>
    <div class="AlignButton"></div>
  </div>
  <div class="PerfilForm">
    <div class="FormSide">
      <form class="form">
        <label class="Nometxt" for="Nome">Nome Dono(a):</label><br />
        <input
          disabled
          class="Nome"
          type="text"
          name="Nome"
          value="{{ consulta.nomeCliente }}"
        /><br />
        <label class="Nometxt" for="Nome">Nome Animal:</label><br />
        <input
          disabled
          class="Nome"
          type="text"
          name="Nome"
          value="{{ consulta.petNome }}"
        /><br />

        <label class="Especietxt" for="Especie:">Especie:</label><br />
        <input
          disabled
          class="Especie"
          type="text"
          name="Especie"
          value="{{ consulta.petEspecie }}"
        /><br />

        <label class="Sexotxt" for="Sexo">Horário:</label><br />
        <input
          disabled
          class="Raça"
          type="text"
          name="Raça"
          value="{{ consulta.hora }}"
        /><br />

        <label class="Sexotxt" for="Sexo">Data:</label><br />
        <input
          disabled
          class="Raça"
          type="text"
          name="Raça"
          value="{{ consulta.dataConsulta }}"
        /><br/>
        <button class="BtnForm" routerLink="/AdicionarProntuario">Adicionar Prontuario</button>
        <button *ngIf="consultaStatus === 'PENDENTE'" class="BtnForm" (click)="concluir()">Concluir Consulta</button>
      </form>
    </div>
  </div>
</div>
