.BtnSenha {
    border: 1px solid #4faaa5;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 60%;
    background-color: #e7353500;
    border-radius: 8px;
    box-sizing: border-box;
    color: #4faaa5;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    line-height: 180%;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
  }
  
  .BtnSenha:hover {
    margin-top: 1%;
    margin-bottom: 5%;
    width: 60%;
    background-color: #4faaa5;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
  }