<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<meta charset="utf-8" />

<app-navgeneric></app-navgeneric>

<h3>Olá ! Bem-vindo de Volta</h3>
<div class="main">
  <div class="formLogin">
    <form [formGroup]="form" class="form">
      <label class="Emailtxt" for="Email">Email:</label><br />
      <input
        class="Email"
        type="email"
        id="fname"
        name="Email"
        placeholder="Example@Email.com"
        formControlName="email"
      /><br />
      <label class="Senhatxt" for="Senha">Senha:</label><br />
      <input
        class="Senha"
        type="password"
        id="lname"
        name="Senha"
        placeholder="Insira sua Senha"
        formControlName="senha"
      /><br /><br />
      <button
        class="fazerlogin"
        type="submit"
        (click)="onSubmit()"
        value="Realizar Login"
      >
        Realizar Login
      </button>
      <div class="EsqSenha">Esqueci minha senha</div>
    </form>
  </div>
  <div class="mensagem">
    <div class="alert alert-danger" *ngIf="erroMensagem">
      Login ou/e senha inválidos
    </div>
    <div class="alert alert-success" *ngIf="sucessoMensagem">
      Login feito com sucesso
    </div>
  </div>
</div>
