<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <ul>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="/InicialUsu">Voltar</a>
      </li>
    </div>
  </ul>
</header>
<div class="titulolog">
  Consultas Pendentes:
</div>
<div class="formLogin2">
    <div class="form">
      <div class="Cartões">
        <mat-card class="example-card" >
          <mat-card-content>
            <p>Veterinario: CatarinaPaolino</p>
            <p>Especialidade: Quiroprata</p>
            <p>Turno: Manhã</p>
            <p>Pet: Doguinho</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ver Consulta</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" >
            <mat-card-content>
              <p>Veterinario: CatarinaPaolino</p>
              <p>Especialidade: Quiroprata</p>
              <p>Turno: Manhã</p>
              <p>Pet: Doguinho</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Ver Consulta</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
  </div>
  <div class="titulolog">
    Consultas Concluidas:
  </div>
  <div class="formLogin2">
    <div class="form">
      <div class="Cartões">
        <mat-card class="example-card" >
          <mat-card-content>
            <p>Veterinario: CatarinaPaolino</p>
            <p>Especialidade: Quiroprata</p>
            <p>Turno: Manhã</p>
            <p>Pet: Doguinho</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ver Consulta</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" >
            <mat-card-content>
              <p>Veterinario: CatarinaPaolino</p>
              <p>Especialidade: Quiroprata</p>
              <p>Turno: Manhã</p>
              <p>Pet: Doguinho</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Ver Consulta</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
  </div>