<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
/>
<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <nav>
    <ul>
      <div class="Navlicolor">
        <li><a class="TxtNav" href="/InicialVet"><i class="fa-solid fa-house"></i> Inicial</a></li>
      </div>
      <div class="Navlicolor">
        <li><a class="TxtNav" href="/VetConsultas"><i class="fa-solid fa-notes-medical"></i> Consultas</a></li>
      </div>
      <div class="Navlicolor">
        <li><a class="TxtNav" href="/PerfilVeterinario"><i class="fa-solid fa-user"></i> Perfil</a></li>
      </div>
    </ul>
  </nav>
</header>
