.Logo {
    height: 80px;
    margin-left: 10px;
}

.Letreiro {
    margin-left: 10px;
}

.Navlicolor:hover  {
 background-color: white;
 border-radius: 15px;
 
}

.Navlicolor:hover .TxtNav  {
    color: #288D7B;
    
   }
header {
    background-image: linear-gradient(to bottom right, #4faaa5, #81eee8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    font-family: "Inter", sans-serif;
    margin: 20px;
}

.TxtNav {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
