a:hover::content {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.Navlicolor:hover .TxtNav {
  color: #288d7b;
}

header li a {
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}

.TxtNav {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Logo {
  height: 60%;
}

.Letreiro {
  height: 30%;
  margin-left: 1%;
}

header * {
  display: inline;
}

header {
  background-image: linear-gradient(to bottom right, #4faaa5, #81eee8);
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

@media (max-width: 800px) {
  .Logo {
    height: 40%;
  }

  .Letreiro {
    height: 20%;
    margin-left: 1%;
  }
}

@media (max-width: 600px) {
  .Logo {
    height: 40%;
  }

  .Letreiro {
    height: 20%;
    margin-left: 1%;
  }
}

@media (max-width: 550px) {
  .Logo {
    height: 40%;
  }

  .Letreiro {
    height: 20%;
    margin-left: 1%;
  }

  @media (max-width: 375px) {
    .Logo {
      height: 40%;
    }

    .Letreiro {
      height: 20%;
      margin-left: 1%;
    }
  }
}
