<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <nav>
    <ul>
      <div class="Navlicolor">
        <li><a class="TxtNav" href="/">Inicial</a></li>
      </div>
    </ul>
  </nav>
</header>
