<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<div class="split left">
  <div class="centered">
    <img
      class="pethatlogo"
      src="../../../assets/Images/PethatLogo.png"
      alt="PethatLogo"
    />
    <div>
      <img
        class="vetlogin"
        src="../../../assets/Images/CatdogCadastro.png"
        alt="VeterinaryLogin"
      />
    </div>
  </div>
</div>

<div class="split right">
  <div class="InfoCadastro">
    <div class="TextButtonSide">Já possui uma conta ?</div>
    <button class="button-30" [routerLink]="['']" role="button">
      Fazer Login
    </button>
  </div>
  <div class="centered">
    <div class="titulolog">Olá ! Seja Bem-vindo</div>
    <div class="subtitulolog">
      CUIDAR DO SEU PET COM O MAIOR CARINHO <br />
      É A NOSSA PRIORIDADE.
    </div>

    <div class="formLogin">
      <form [formGroup]="form" class="form">
        <label class="Nometxt" for="Nome">Nome:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"
          placeholder="Insira seu nome de Usuário"
          formControlName="nome"
        /><br />
        <label class="CPFtxt" for="CPF">CPF:</label><br />
        <input
          class="CPF"
          type="text"
          name="CPF"
          placeholder="000.000.000-00."
          formControlName="cpf"
        /><br />
        <label class="Emailtxt" for="Email">Email:</label><br />
        <input
          class="Email"
          type="text"
          name="Email"
          placeholder="Example@Email.com"
          formControlName="email"
        /><br />
        <label class="Senhatxt" for="Senha">Senha:</label><br />
        <input
          class="Senha"
          type="text"
          name="Senha"
          placeholder="Insira sua Senha"
          formControlName="senha"
        />
        <label class="ConfirmarSenhatxt" for="Senha">Confirmar senha:</label
        ><br />
        <input
          class="Senha"
          type="text"
          name="Senha"
          placeholder="Insira Novamente Sua Senha"
        />
        <button
          class="fazerlogin"
          (click)="onSubmit()"
          type="submit"
          value="Realizar Cadastro"
        >
          Fazer Cadastro
        </button>
      </form>
    </div>
    <div class="alert alert-danger" *ngIf="erroMensagem">
      Erro ao fazer cadastro
    </div>
    <div class="alert alert-success" *ngIf="sucessoMensagem">
      Cadastro feito com sucesso
    </div>
  </div>
</div>
