<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">


<meta charset="utf-8"/>

<div class="split left">
    <div class="centered">
    <img class="pethatlogo" src="../../../assets/Images/PethatLogo.png" alt="PethatLogo">
    <div>
    <img class="vetlogin" src="../../../assets/Images/CatdogCadastro.png" alt="VeterinaryLogin">
    </div>
    </div>
  </div>
  
  <div class="split right">
    <div class="infoLogin">
      <div class="possuiLog"> Já possui um Login? </div><button class="button-31">Fazer Login</button>
    </div><br>
    <div class="centered">
        <div class="titulolog">
            Olá! Bem-vindo
        </div>

        <div class="subtitulo">
        <p>CUIDAR DO SEU PET COM O MAIOR CARINHO 
          É A NOSSA PRIORIDADE. </p>
        </div>
        
        <div class="cadastro">
          <form class="formsCadastro" action="">
            <div class="campos"><br>
              <strong>Nome:</strong><br>
              <input type="text" name="nome" id="nome" placeholder="Insira seu Nome"><br>
              <strong>Endereço de Email:</strong><br>
              <input type="email" name="email" id="email" placeholder="example@gmail.com" required><br>
              <strong>Senha:</strong><br>
              <input type="password" name="senha" id="senha" placeholder="Insira sua Senha" required> <br>
              <input type="password" name="repetirSenha" id="repetirSenha" placeholder="Repetir Senha" required><br><br>
            </div>  
              <div>
                <button class="button-30">Cadastra-Se</button>
              </div><br>
            </form>
          </div>
      </div>
  </div>
