<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<app-nav-vet></app-nav-vet>
<div class="Screen">
  <div class="centered">
    <div class="titulolog">Aqui voce pode adicionar Detalhes ao Pronturario do Pet</div>
    <div class="subtitulolog">
      CUIDAR DO SEU PET COM O MAIOR CARINHO <br />
      É A NOSSA PRIORIDADE.
    </div>
    <div class="formLogin">
      <form class="form">
        <label class="Nometxt" for="Nome">Data:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Nometxt" for="Nome">Horario:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Nometxt" for="Nome">Imunização:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Nometxt" for="Nome">Sinais Clinicos:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Nometxt" for="Nome">Exames:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Especietxt" for="Especie:">Preescrição:</label><br />
        <input
          class="Especie"
          type="text"
          name="Especie"

          formControlName="especie"
        /><br />
        <label class="Nometxt" for="Nome">Diagnóstico:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Nometxt" for="Nome">Observação:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"

          formControlName="nome"
        /><br />
        <label class="Pettxt" for="Pet">Pet:</label><br />
        <select
          name="Pet"
          id="Pet-select"
          class="Pet"
          formControlName="Pet"
        >
          <option value=""></option>
          <option value="Masculino">Macho</option>
          <option value="Feminino">Femêa</option>
        </select>
        <label class="Consultatxt" for="Consulta">Consulta:</label><br />
        <select
          name="Consulta"
          id="Consulta-select"
          class="Consulta"
          formControlName="Consulta"
        >
          <option value=""></option>
          <option value="Masculino">Macho</option>
          <option value="Feminino">Femêa</option>
        </select>
        <label class="Receitatxt" for="Receita">Receita:</label><br />
        <input
          class="Receita"
          type="text"
          name="Receita"
          formControlName="Receita"
        /><br />
        <input
          class="BtnForm"
          type="submit"
          value="Cadastrar Pet"
        />
      </form>
    </div>
  </div>
</div>

