<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />

<app-nav-vet></app-nav-vet>
<div class="Screen">
  <div class="centered">
    <div class="titulolog">Aqui você pode adicionar Detalhes ao Pronturario do Pet</div>
    <div class="subtitulolog">
      CUIDAR DO SEU PET COM O MAIOR CARINHO <br />
      É A NOSSA PRIORIDADE.
    </div>
    <div class="formLogin">
      <form class="form">
        <label class="Datatxt" for="Data">Data:</label><br />
        <input
          class="Data"
          type="date"
          name="Data"

          formControlName="data"
        /><br />
        <label class="Horariotxt" for="Horario">Horario:</label><br />
        <input
          class="Horario"
          type="time"
          name="Horario"

          formControlName="horario"
        /><br />
        <label class="Imunizacaotxt" for="Imunizacao">Imunização:</label><br />
        <input
          class="Imunizacao"
          type="text"
          name="Imunizacao"

          formControlName="imunizacao"
        /><br />
        <label class="SinaisClinicostxt" for="SinaisClinicos">Sinais Clinicos:</label><br />
        <input
          class="SinaisClinicos"
          type="text"
          name="SinaisClinicos"

          formControlName="sinaisclinicos"
        /><br />
        <label class="Examestxt" for="Exames">Exames:</label><br />
        <input
          class="Exames"
          type="text"
          name="Exames"

          formControlName="exames"
        /><br />
        <label class="Preescricaotxt" for="Especie:">Preescrição:</label><br />
        <textarea
          class="Preescricao"
          type="text"
          name="Preescricao"

          formControlName="preescricao"
        > </textarea><br />
        <label class="Diagnosticotxt" for="Diagnostico">Diagnóstico:</label><br />
        <textarea
          class="Diagnostico"
          type="text"
          name="Diagnostico"

          formControlName="diagnostico"
        ></textarea><br />
        <label class="Observacaotxt" for="observacao">Observação:</label><br />
        <textarea
          class="Observacao"
          type="text"
          name="Observacao"

          formControlName="observacao"
        ></textarea><br />
        <label class="Pettxt" for="Pet">Pet:</label><br />
        <select
          name="Pet"
          id="Pet-select"
          class="Pet"
          formControlName="Pet"
        >
          <option value=""></option>
          <option value="Masculino">Macho</option>
          <option value="Feminino">Femêa</option>
        </select>

        <label class="Receitatxt" for="Receita">Receita:</label><br />
        <br />
        <input
          class="BtnForm"
          type="submit"
          value="Cadastrar Pet"
        />
      </form>
      <ng-template #modalconfirmarDelete let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Adicionar Assinatura</h4>
          <button
            type="button"
            class="btn-close"
            aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <p>
           <!-- <strong>Voce tem certeza que deseja deletar <span class="text-primary">"John Doe"</span> seu perfil?</strong> -->
          </p>
          <p>
            <app-signature-pad></app-signature-pad>
          </p>
        </div>
      </ng-template>
      <button class="BtnSenha" (click)="open(modalconfirmarDelete)">Modal Teste</button>
    </div>
  </div>
</div>

