.Screen {
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .vetlogin {
    transform: translate(-50%, -50%);

    margin-left: 25%;
    width: 80%;
    height: 80%;
  }
  
  .titulolog {
    font-family: "Inter", sans-serif;
    color: #383838;
    margin-left: 13%;
    font-size: 200%;
    margin-top: 8%;
  }
  
  .subtitulolog {
    font-family: "Inter", sans-serif;
    color: #7d7d7d;
    margin-right: 9%;
    font-size: 90%;
    text-align: center;
    margin-top: 2%;
  }
  
  .InfoCadastro {
    display: flex;
    flex-direction: row;
    margin-left: 45%;
  }
  
  .TextButtonSide {
    font-family: "Inter", sans-serif;
    color: #7d7d7d;
    margin-right: 5%;
    margin-top: 4%;
    font-size: 80%;
  }
  
  .button-30 {
    background-color: #4faaa5;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    height: 60%;
    line-height: 180%;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-30:active {
    background-color: #418581;
  }
  
  .formLogin {
    width: 48%;
    text-align: center;
    box-shadow: inset 0 0 3px #7e7e7e;
    margin-top: 2%;
    margin-left: 21%;
    margin-bottom: 5%;
    border-radius: 15px;
    align-items: center;
  }
  
  .form {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  
  .BtnForm {
    margin-top: 5%;
    width: 400px;
    background-color: #4faaa5;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    height: 60%;
    line-height: 180%;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Diagnostico,
  .Data,
  .Datadevalidade,
  .Dosagem,
  .Veterinariaresponsavel,
  .ClinicaResponsavel,
  .Preescricao,
  .Observacao,
  .Medicamentos,
  .Consulta,
  .Receita

   {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: "Inter", sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline-color: #4faaa5;
  }
  
  .Datatxt,
  .Datadevalidadetxt,
  .Dosagemtxt,
  .Veterinariaresponsaveltxt,
  .ClinicaResponsaveltxt,
  .Preescricaotxt,
  .Diagnosticotxt,
  .Observacaotxt,
  .Medicamentostxt,
  .Receitatxt 
  {
    font-family: "Inter", sans-serif;
    color: #7d7d7d;
    margin-right: 85%;
    margin-top: 4%;
    font-size: 80%;
  }
  
  .Nometuttxt,
  .CPFtuttxt,
  .Teltuttxt {
    font-family: "Inter", sans-serif;
    color: #7d7d7d;
    margin-right: 70%;
    margin-top: 4%;
    font-size: 80%;
  }
  
  .EsqSenha {
    display: inline-block;
    font-family: "Inter", sans-serif;
    color: #4d6aeb;
    margin-top: 4%;
    font-size: 80%;
    margin-left: 50%;
    margin-bottom: 10%;
  }
  
  .EsqSenha:hover {
    cursor: pointer;
  }
  
  .eyeicon1 {
    position: absolute;
    top: 190px;
    right: 110px;
  }
  
  .TypeLogin {
    color: white;
    font-weight: bold;
    font-size: 150%;
    margin-left: 85%;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
    .vetlogin {
      margin-left: 10%;
      width: 90%;
      height: auto;
    }
  
    .titulolog {
      margin-left: 5%;
      font-size: 150%;
    }
  
    .subtitulolog {
      margin-right: 5%;
      font-size: 80%;
    }
  
    .InfoCadastro {
      margin-left: 25%;
    }
  
    .button-30,
    .BtnForm {
      width: 100%;
    }
  
    .formLogin {
      width: 90%;
      margin-left: 5%;
      margin-bottom: 10%;
    }
  
    .Nome,
    .Especie,
    .Dosagem,
    .Receita,
    .Idade,
    .Nometut,
    .CPFtut,
    .Teltut {
      width: 100%;
    }
  
    .Nometxt,
    .Especietxt,
    .Medicamentostxt,
    .Receitatxt,
    .Idadetxt,
    .Nometuttxt,
    .CPFtuttxt,
    .Teltuttxt,
    .Receitatxt {
      margin-right: 0;
    }
  
    .EsqSenha {
      margin-left: 25%;
      margin-bottom: 5%;
    }
  }

  .BtnSenha {
    border: 1px solid #4faaa5;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 60%;
    background-color: #e7353500;
    border-radius: 8px;
    box-sizing: border-box;
    color: #4faaa5;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    line-height: 180%;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
  }
  
  .BtnSenha:hover {
    margin-top: 1%;
    margin-bottom: 5%;
    width: 60%;
    background-color: #4faaa5;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
  }
  
  .BtnVoltar {
    border: 1px solid #4faaa5;
    margin-top: 3%;
    margin-left: 2%;
    width: 5%;
    background-color: #e7353500;
    border-radius: 8px;
    box-sizing: border-box;
    color: #4faaa5;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    line-height: 180%;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
  }
  
  .BtnVoltar:hover {
    margin-top: 3%;
    width: 5%;
    background-color: #4faaa5;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
  }
   