<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"/>

<meta charset="utf-8" />

<div class="split left">
  <div class="centered">
    <img
      class="pethatlogo"
      src="../../../assets/Images/PethatLogo.png"
      alt="PethatLogo"
    />
    <div>
      <img
        class="vetlogin"
        src="../../../assets/Images/VeterinaryLogin.png"
        alt="VeterinaryLogin"
      />
    </div>
  </div>
</div>

<div class="split right">
  <div class="InfoCadastro">
    <div class="TextButtonSide">Ainda não possui uma conta ?</div>
    <button class="button-30" [routerLink]="['/cadastro']" role="button">
      Cadastrar-se
    </button>
  </div>
  <div class="centered">
    <div class="titulolog">Olá ! Bem-vindo de Volta</div>
    <div class="subtitulolog">
      CUIDAR DO SEU PET COM O MAIOR CARINHO <br />
      É A NOSSA PRIORIDADE.
    </div>
    <div class="formLogin">
      <form [formGroup]="form" class="form">
        <label class="Emailtxt" for="Email">Email:</label><br />
        <input
          class="Email"
          type="email"
          id="fname"
          name="Email"
          placeholder="Example@Email.com"
          formControlName="email"
        /><br />
        <label class="Senhatxt" for="Senha">Senha:</label><br />
        <input
          class="Senha"
          [type]="changetype1?'password':'text'"
          id="lname"
          name="Senha"
          placeholder="Insira sua Senha"
          formControlName="senha"
        />
        <span class="eyeicon1" (click)="viewpass1()" >
          <i [ngClass]="visivel1?'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i>
        </span>
        <br/>
        <br />
        <button
          class="fazerlogin"
          (click)="onSubmit()"
          type="submit"
          value="Realizar Login"
        >
          Realizar Login
        </button>
      </form>
      <div class="EsqSenha">Esqueci minha senha</div>
      <div class="alert alert-danger" *ngIf="erroMensagem">
        Login ou/e senha inválidos
      </div>
      <div class="alert alert-success" *ngIf="sucessoMensagem">
        Login feito com sucesso
      </div>
    </div>
  </div>
</div>
