<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<header>
  <img
    class="Letreiro"
    src="../../../assets/Images/PetHatLetreiro.png"
    alt="PetHatLetreiro"
  />
  <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
  <ul>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="http://localhost:4200/Login">Login Usuario</a>
      </li>
    </div>
    <div class="Navlicolor">
      <li><a class="TxtNav" href="http://localhost:4200/LoginADM">Login ADM</a></li>
    </div>
    <div class="Navlicolor">
      <li>
        <a class="TxtNav" href="http://localhost:4200/LoginVeterinario"
          >Login Veterinário</a
        >
      </li>
    </div>
  </ul>
</header>
<img class="DogLogo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
<div>
  <div class="Titulo">NOSSO COMPROMISSO</div>
  <div class="SubTitulo">
    É cuidar do seu pet do Jeitinho <br />
    que ele merece. 🐱🐶🐤🐐🐒
  </div>
<img
    class="BannerInicial"
     src="../../../assets/Images/Banner.png" 
    alt="DogHat"
  />

  <button class="Button">Começar</button>
</div>
