<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
<body>
  <app-navinicial></app-navinicial>
  <div class="container">
    <div class="Titulo">NOSSO COMPROMISSO</div>
    <div class="SubTitulo">
      É cuidar do seu pet do Jeitinho <br />
      que ele merece. 🐱🐶🐤🐐🐒
    </div>
    <img
      class="BannerInicial"
      src="../../../assets/Images/Banner.png"
      alt="DogHat"
    />

    <button class="Button" [routerLink]="['/Login']">Começar</button>
  </div>
</body>
