//Importando Fonte Inter
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>
//Chamando Componente Navbar
<app-navbar></app-navbar>
<div class="BodyPerfil">
  <div class="PerfilPhotoDiv">
   <!--- <img
      class="PerfilImg"
      src="https://i.imgur.com/PL8qNu6.png"
      alt="PhotoPerfil"
    />
   -->
   <img
      class="PerfilImg"
      src="../../../assets/Images/Dogprofile.png"
      alt="PhotoPerfil"
    />
    <div class="NomePerfil">
      <p>Cachorro Augusto</p>
    </div>
    <div class="EmailPerfil">
      <p>Dono: Claudio</p>
    </div>
    <div class="AlignButton">
      <button class="BtnSair" role="button">
        Excluir Pet
      </button>
    </div>
  </div>
  <div class="PerfilForm">
    <div class="FormSide">
      <form class="form">
        <label class="Nometxt" for="Nome">Nome:</label><br />
        <input
          class="Nome"
          type="text"
          name="Nome"
          placeholder="Cachorro Augusto"
          formControlName="Nome"
        /><br />
        <label class="Especietxt" for="Especie:">Especie:</label><br />
        <input
          class="Especie"
          type="text"
          name="Especie"
          placeholder="Ex: Cachorro,Gato"
          formControlName="Especie"
        /><br />
        <label class="Sexotxt" for="Sexo">Sexo:</label><br />
        <select name="sexo" id="sexo-select" class="Sexo">
            <option value=""></option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
        <label class="Raçatxt" for="Raça">Raça:</label><br />
        <input
          class="Raça"
          type="text"
          name="Raça"
          placeholder="Ex:Vira-lata"
          formControlName="Raça"
        /><br />
        <label class="Idadetxt" for="Idade">Idade:</label><br />
        <input
          class="Idade"
          type="text"
          name="Idade"
          placeholder="2 anos"
          formControlName="Idade"
        /><br />
        <label class="Nometuttxt" for="Nometut">Nome do Tutor:</label><br />
        <input
          class="Nometut"
          type="text"
          name="Nometut"
          placeholder="Claudio"
          formControlName="Nometut"
        /><br />
        <label class="CPFtuttxt" for="CPFtut">CPF do Tutor:</label><br />
        <input
          class="CPFtut"
          type="text"
          name="CPFtut"
          placeholder="111.111.111.00"
          formControlName="CPFtut"
        /><br />
        <label class="Teltuttxt" for="Teltut">Telefone do Tutor:</label><br />
        <input
          class="Teltut"
          type="text"
          name="Teltut"
          placeholder="11 4002-8922"
          formControlName="Teltut"
        /><br />
        <input
          class="BtnForm"
          [routerLink]="['/Perfil']"
          type="submit"
          value="Atualizar Informações"
        />
      </form>
    </div>
  </div>
</div>