<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />
<div>
  <header>
    <img
      class="Letreiro"
      src="../../../assets/Images/PetHatLetreiro.png"
      alt="PetHatLetreiro"
    />
    <img class="Logo" src="../../../assets/Images/DogHat.png" alt="DogHat" />
    <div class="TypeLogin">Administrador</div>
  </header>
</div>
<div class="Screen">
  <div class="centered">
    <div class="titulolog">Cadastrar Veterinarios</div>
    <div class="subtitulolog">
      TODAS AS INFORMAÇÕES DEVEM SER <br />
      PREENCHIDAS.
    </div>
    <div class="formLogin">
      <form class="form" [formGroup]="form">
        <label class="Nometxt" for="Nome">Nome:</label><br />
        <input
          class="Nome"
          type="text"
          id="fname"
          name="Nome"
          placeholder="Digite Seu nome"
          formControlName="nome"
        /><br />
        <label class="Emailtxt" for="Email">Email Empresarial:</label><br />
        <input
          class="Email"
          type="email"
          id="femail"
          name="Email"
          placeholder="Example@Email.com"
          formControlName="email"
        /><br />
        <label class="Senhatxt" for="Senha">Senha:</label><br />
        <input
          class="Senha"
          type="password"
          id="lsenha"
          name="Senha"
          placeholder="Insira sua Senha"
          formControlName="senha"
        /><br />
        <label class="ConfSenhatxt" for="Senha">Confirmar Senha:</label><br />
        <input
          class="ConfSenha"
          type="password"
          name="ConfSenha"
          placeholder="Insira sua Senha Novamente"
        /><br />
        <label class="telefonetxt" for="telefone">Telefone:</label><br />
        <input
          class="telefone"
          type="tel"
          id="ftelefone"
          name="telefone"
          mask="00-00000-0000"
          placeholder="11-40020-8922"
          formControlName="telefone"
        /><br />
        <label class="Datatxt" for="Data">Data Portaria Habilitação:</label
        ><br />
        <input
          class="Data"
          type="text"
          id="fportaria"
          name="Data"
          formControlName="dataPortariaHabilitacao"
        /><br />
        <button
          class="fazerlogin"
          (click)="onSubmit()"
          type="submit"
          value="Realizar Cadastro"
        >
          Fazer Cadastro
        </button>
        <button
          class="cancelarLogin"
          [routerLink]="['/TabelaCrud']"
          type="submit"
          value="Realizar Cadastro"
        >
          Cancelar
        </button>
      </form>
      <div class="EsqSenha"></div>
    </div>
    <div class="alert alert-danger" *ngIf="erroMensagem">
      Erro ao fazer cadastro
    </div>
    <div class="alert alert-success" *ngIf="sucessoMensagem">
      Cadastro feito com sucesso
    </div>
  </div>
</div>
